.gluten-free-label-container{
    position: relative;}

.gluten-free-label {
    font-family:inherit;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3caea3; 
    color: #fff;
    padding: 2px 4px; 
    border-radius: 3px; 
    font-size: 12px; 
    opacity: 0.3; 
    transition: opacity 0.3s ease;}
        .menus:hover .gluten-free-label {
        opacity: 1; }
        .menus.gluten-free-container:hover {
        border: 1px solid #c89d83; }


.vegan-label-container{
    position: relative;}

.vegan-label {
    font-family:inherit;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #378139; 
    color: #fff;
    padding: 2px 4px; 
    border-radius: 3px; 
    font-size: 12px; 
    opacity: 0.3; 
    transition: opacity 0.3s ease; }
        .menus:hover .vegan-label {
        opacity: 1; }
        .menus.vegan-container:hover {
        border: 1px solid #c89d83; }


.vegetarian-label-container{
    position: relative;}

.vegetarian-label {
    font-size: 1rem;
    font-family:inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #51ce46; 
    color: #fff;
    padding: 2px 4px; 
    border-radius: 3px; 
    font-size: 12px; 
    opacity: 0.3; 
    transition: opacity 0.3s ease;}
        .menus:hover .vegetarian-label {
        opacity: 1;}
        .menus.vegetarian-container:hover {
        border: 1px solid #c89d83; }


.kosher-friendly-label-container{
    position: relative;}

.kosher-friendly-label {
    font-size: 1rem;
    font-family:inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff9100; 
    color: #ffffff; 
    padding: 2px 4px; 
    border-radius: 3px; 
    font-size: 12px; 
    opacity: 0.3; 
    transition: opacity 0.3s ease; }
        .menus:hover .kosher-friendly-label {
        opacity: 1;}
        .menus.kosher-friendly-container:hover {
        border: 1px solid #c89d83;}



