@keyframes pushDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pushUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}